@import "tailwindcss";

body {
  font-display: swap;
  font-family: "Geist";
  letter-spacing: -0.04rem;
  font-weight: 500;
  font-size: 1.1rem;
}

.serif {
  font-family: "Instrument Serif";
  letter-spacing: -0.02rem;
}

::selection {
  background-color: blue;
  color: white;
}
